{% extends 'base.html' %}

{% block title %}
Создание чего-то
{% endblock %}

{% block body %}
    <h1>Добавление чего-то</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введи название"><br>
        <textarea type="intro" name="intro" id="intro" class="form-control" placeholder="Введи что-то"></textarea><br>
        <textarea type="text" name="text" id="text" class="form-control" placeholder="Введи текст основной"></textarea><br>
    </form>
{% endblock %}