{% extends 'base.html' %}

{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Обновление статьи</h1>
    </div>
    <form method="post">
        <input type="text" name="title" id="title" class="container form-control" value="{{ baza.title }}" placeholder="Введи название"><br>
        <textarea type="intro" name="intro" id="intro" class="container form-control" placeholder="Введи что-то">{{ baza.intro }}</textarea><br>
        <textarea type="text" name="text" id="text" class="container form-control" placeholder="Введи текст основной">{{ baza.text }}</textarea><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-success" value="Обновить">
        </div>
    </form>
{% endblock %}